html {
  background-color: #000;
  font-family: 'Fjalla One', sans-serif;
  line-height: normal;
}

/*NAVIGATION*/
a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #510c12;
  text-decoration: underline;
  font-weight: bold;
}

ul, nav {
  list-style-type: none;
  font-family: 'Fjalla One', sans-serif;
  background-color: #000;
  border:1px solid #000;
}

a,
a:link {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
/*NAVIGATION END*/

/*BANNER*/

p {
  color: #DCDCDC;
  padding-left: 10px;
  margin: 0;
}

.display {
  color: #510c12;
}

.portfoliobody {
  color: #DCDCDC;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 50px;
  text-align: center;
}

h1 {
  margin-top: 1em;
  padding-left: 10px;
  color: #3f4045;
  padding-left: -13px;
}

.banner {
  background-image: url('../images/red.jpg');
  padding: 5em;
  background-size: cover;
}

/*BANNER END*/

/*ABOUT ME*/
h2 {
  color: #3f4045;
  padding-top: 60px;
}

/*ABOUT ME END*/

/*PORTFOLIO*/
.work {
  width: 60%;
  padding-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.work2 {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reference {
  padding-bottom: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.spread {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center {
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-top: 100px;
}

/*PORTFOLIO END*/


.icon {
  width: 4em;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 608px) {

  .logo {
    width: 20%;
  }

}

@media only screen and (min-width: 960px) {

  .me {
    margin-right: 2em;
    margin-left: 2em;
    width: 90%;
  }

  .aboutme {
    padding: 3em;
  }
}

@media only screen and (min-width: 1440px) {

  .logo {
    width: 5%;
  }

  .aboutme{
    padding: 2em;
  }
}
